*{
    padding: 0;
    margin: 0;
}
        
canvas {
    background: rgba(16, 158, 37, 0.28);
    display: block;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 50px;
    padding-bottom: 50px;
}